@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Wady Developer</h1>
    <h2>Hello, How are you</h2>
    <h2>Inshallah it will workds</h2>
    <h1>Alhamdulillah</h1>
    <h2>Hamary London maain be flats hain</h2>
    <h1>ja ja kam kar</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

